
:root{
    --principal-color:#37aaf3;
    --button-color: #0050dc;
}

body {
    font-family: Soleil, Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #fff; 
    display: flex;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
    font-weight: 300;
    font-variant-numeric: tabular-nums
}


.container {
    background-color: #fff;
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 50%; 
    box-sizing: border-box;
}

#paste__code textarea{
    height: 25vh;
}

/* Estilo dos inputs e textarea */
input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Estilo dos botões */
button {
    background-color: var(--button-color); 
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

label {
    font-size: 0.8em;
    color: var(--principal-color);
}

#plano,
#setor {
    width: 37%;
    padding: 5px;
    margin: 8px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: var(--principal-color);
}

#copy,
#clear {
    max-width: fit-content;
}

button:hover {
    background-color: var(--principal-color); 
}

/* Estilo para o textarea de mensagem */
textarea {
    height: 65px;
}

/* Estilo para o aviso temporário */
.aviso {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-family: Arial, sans-serif;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Estilo para mostrar o aviso */
.aviso.mostrar {
    opacity: 1;
}